#!/bin/zsh

readonly SCRIPT_DIR=$(dirname $(readlink $HOME/.zshrc))/zsh
echo $SCRIPT_DIR

source $SCRIPT_DIR/oh-my-zsh.rc
source $SCRIPT_DIR/git-aliases.rc
source $SCRIPT_DIR/docker-aliases.rc
source $SCRIPT_DIR/other-aliases.rc

export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:$HOME/local/bin
export PATH=$PATH:/opt/homebrew/opt/libpq/bin
export PATH=$PATH:/Applications/Wezterm.app/Contents/MacOS
export PATH=/opt/homebrew/opt/util-linux/bin:$PATH
export PATH=/opt/homebrew/opt/util-linux/sbin:$PATH
export PATH=$PATH:$HOME/.local/bin

FZF_ALT_C_COMMAND=
FZF_CTRL_T_COMMAND=
FZF_CTRL_R_COMMAND=
#eval "$(fzf --zsh)"

# Remove bindings for ctrl+s, ctrl+r
bindkey -M emacs -r '^s'
bindkey -M vicmd -r '^s'
bindkey -M viins -r '^s'

bindkey -M emacs -r '^r'
bindkey -M vicmd -r '^r'
bindkey -M viins -r '^r'

# Add bindings for reverse search
# bindkey -M emacs '^sr' fzf-history-widget
# bindkey -M vicmd '^sr' fzf-history-widget
# bindkey -M viins '^sr' fzf-history-widget

# set less mode
export LESS=FRX
## From https://stackoverflow.com/questions/69091601/git-branch-displays-my-branch-names-in-a-vim-window-instead-of-in-my-current-it

# source $DOTFILES/fzf_completions.zsh
# source $DOTFILES/fzf_keybindings.zsh
# source $DOTFILES/fzf-docker/fzf-docker.plugin.zsh
source $SCRIPT_DIR/fzf-tab-completion/zsh/fzf-zsh-completion.sh
bindkey '^I' fzf_completion

export FZF_COMPLETION_TRIGGER=','
export FZF_DEFAULT_COMMAND='fd --type f'
# source /home/pragun/.config/broot/launcher/bash/br


source $SCRIPT_DIR/atuin-init.zsh
